RewriteEngine On

# Laravel public storage
# Melayani /storage/* langsung dari storage/app/public/*
RewriteRule ^storage/(.*)$ storage/app/public/$1 [L]

# Arahkan root domain ke Laravel public/index.php
RewriteRule ^$ public/index.php [L]

# File/folder yang memang ada di /htdocs jangan diubah
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Semua request lainnya masuk ke Laravel
RewriteRule ^(.*)$ public/$1 [L]
